<%= form_for @catalogo, :html => {:autocomplete => "off"}  do |form| %>

  <%= render partial: '/shared/errors', object: @catalogo %>

  <p>
    <%= form.label :titulo%><br>
    <%= form.text_field :titulo %>
  </p>

  <p>
    <%= form.label :grupo %><br>
    <%= form.text_field :grupo, list: 'grupos-list' %>
  </p>

  <p>
    <%= form.label :genero %><br>
    <%= form.text_field :genero, list: 'generos-list' %>
  </p>

  <p>
    <%= image_tag @catalogo.portada(:medium) %>
  </p>

  <%= form.file_field :portada %>


  <datalist id="grupos-list">
    <%= Catalogo.select(:grupo).distinct.each do |form| %>
      <option value='<%=form.grupo%>'></option>
    <%end%>
  </datalist>

  <datalist id='generos-list'>
    <%= Catalogo.select(:genero).distinct.each do |form| %>
      <option value='<%=form.genero%>'></option>
    <%end%>
  </datalist>



  <% if local_assigns[:full] %>
    <%= form.fields_for :cd do |f| %>
      <p>
        <%= f.label :cantidad %><br>
        <%= f.number_field :cantidad, min: 0 %>
      </p>
      <p>
        <%= f.label :precio %><br>
        <%= f.number_field :precio, min: 0, step: 0.05 %>
      </p>
    <% end %>

    <%= form.fields_for :vinilo do |f| %>
      <p>
        <%= f.label :cantidad %><br>
        <%= f.number_field :cantidad, min: 0  %>
      </p>
      <p>
        <%= f.label :precio %><br>
        <%= f.number_field :precio, min: 0, step: 0.05 %>
      </p>
    <% end %>
  <% end %>


  <p>
    <%= form.submit %>
  </p>

<% end %>
