<%= form_for @catalogo, :html => {:autocomplete => "off"}  do |album| %>

  <%= render partial: '/shared/errors', object: @catalogo %>

  <p>
    <%= album.label :titulo%><br>
    <%= album.text_field :titulo %>
  </p>

  <p>
    <%= album.label :grupo %><br>
    <%= album.text_field :grupo, list: 'grupos-list' %>
  </p>

  <p>
    <%= album.label :genero %><br>
    <%= album.text_field :genero, list: 'generos-list' %>
  </p>

  <%= album.file_field :portada %>


  <datalist id="grupos-list">
    <%= Catalogo.select(:grupo).distinct.each do |album| %>
      <option value='<%=album.grupo%>'></option>
    <%end%>
  </datalist>

  <datalist id='generos-list'>
    <%= Catalogo.select(:genero).distinct.each do |album| %>
      <option value='<%=album.genero%>'></option>
    <%end%>
  </datalist>



  <% if local_assigns[:full] %>
    <%= album.fields_for :cd do |product| %>
      <p>
        <%= product.label :cantidad %><br>
        <%= product.number_field :cantidad, min: 0 %>
      </p>
      <p>
        <%= product.label :precio %><br>
        <%= product.number_field :precio, min: 0, step: 0.05 %>
      </p>
    <% end %>

    <%= album.fields_for :vinilo do |product| %>
      <p>
        <%= product.label :cantidad %><br>
        <%= product.number_field :cantidad, min: 0  %>
      </p>
      <p>
        <%= product.label :precio %><br>
        <%= product.number_field :precio, min: 0, step: 0.05 %>
      </p>
    <% end %>
  <% end %>


  <p>
    <%= album.submit %>
  </p>

<% end %>
