<%= form_for :catalogo, url: catalogos_path do |c| %>
  <p>
    <%= c.label :titulo %><br>
    <%= c.text_field :titulo %>
  </p>

  <p>
    <%= c.label :grupo %><br>
    <%= c.text_field :grupo, list: 'grupos-list' %>
  </p>

  <datalist id="grupos-list">
    <%= Catalogo.select(:grupo).distinct.each do |album| %>
      <option value='<%=album.grupo%>'></option>
    <%end%>
  </datalist>

  <p>
    <%= c.label :genero %><br>
    <%= c.text_field :genero, list: 'generos-list' %>
  </p>
  <datalist id='generos-list'>
    <%= Catalogo.select(:genero).distinct.each do |album| %>
      <option value='<%=album.genero%>'></option>
    <%end%>
  </datalist>


  <p>
    <%= c.submit %>
  </p>
<% end %>
