
<p>
  Título:
  <%= @album.titulo %>
</p>

<p>
  Grupo:
  <%= @album.grupo %>
</p>

<p>
  Genero:
  <%= @album.genero %>
</p>


<h2>Stock</h2>
<p>
  Stock CDs disponible:
  <%= @album.cd.cantidad ? @album.cd.cantidad : 0 %>
</p>
<p>
  Stock Vinilos disponible:
  <%= @album.vinilo.cantidad ? @album.vinilo.cantidad : 0 %>
</p>


<td><%= link_to 'Modificar', edit_catalogo_path(@album) %></td>
