<div class="album">

  <div class="album-photo">
      <%= image_tag @catalogo.portada(:medium) %>
  </div>

  <div class="bottom-album">
    <div class="album-sides album-titles">
      <ul>
        <li> Título </li>
        <li> Grupo </li>
        <li> Género </li>
        <li> Stock CDs </li>
        <li> Stock Vinilos </li>
        <li> Precio CD (€)</li>
        <li> Precio Vinilo (€) </li>
      </ul>
    </div>
    <div class="album-sides album-content">
      <ul>
        <li> <%= @catalogo.titulo %> </li>
        <li> <%= @catalogo.grupo %> </li>
        <li> <%= @catalogo.genero %> </li>
        <li> <%= @catalogo.cd.cantidad %> </li>
        <li> <%= @catalogo.vinilo.cantidad %> </li>
        <li> <%= @catalogo.cd.precio %> </li>
        <li> <%= @catalogo.vinilo.precio %> </li>
      </ul>
    </div>
  </div>

  <div class="album-bar">
    <ul class="buttons">

      <% if @catalogo.cd.cantidad > 0 %>
        <li><%= link_to 'Vender CD',
          new_venta_path(:catalogo_id => @catalogo.id, :formato => "CD") %></li>
      <%end%>

      <% if @catalogo.vinilo.cantidad > 0 %>
        <li><%= link_to 'Vender vinilo', new_venta_path(:catalogo_id => @catalogo.id, :formato => "Vinilo") %></li>
      <%end%>

      <li><%= link_to 'Modificar', edit_catalogo_path(@catalogo) %></li>

    </ul>
  </div>

</div>
