
<p>
  Título:
  <%= @catalogo.titulo %>
</p>

<p>
  Grupo:
  <%= @catalogo.grupo %>
</p>

<p>
  Genero:
  <%= @catalogo.genero %>
</p>


<h2>Stock</h2>
<table>
  <tr>
    <th>Stock CDs </th>
    <th>Precio </th>
    <th>Stock Vinilos </th>
    <th>Precio </th>
  </tr>
  <tr>
    <td> <%= @catalogo.cd.cantidad %> </td>
    <td> <%= @catalogo.cd.precio %> </td>
    <td> <%= @catalogo.vinilo.cantidad %> </td>
    <td> <%= @catalogo.vinilo.precio %> </td>
  </tr>
</table>

<td><%= link_to 'Vender cd', new_venta_path(:catalogo_id => @catalogo.id) %></td>
<td><%= link_to 'Modificar', edit_catalogo_path(@catalogo) %></td>
