
<p>
  Título:
  <%= @catalogo.titulo %>
</p>

<p>
  Grupo:
  <%= @catalogo.grupo %>
</p>

<p>
  Genero:
  <%= @catalogo.genero %>
</p>


<h2>Stock</h2>
<p>
  Stock CDs disponible:
  <%= @catalogo.cd.cantidad || 0 %>
</p>
<p>
  Stock Vinilos disponible:
  <%= @catalogo.vinilo.cantidad || 0 %>
</p>


<td><%= link_to 'Modificar', edit_catalogo_path(@catalogo) %></td>
