<div class="album">

  <div class="album-photo">
      <%= image_tag @catalogo.portada(:medium) %>
  </div>

  <div class="bottom-album">
    <table class="album-info">
      <tr><th> Título </th> <td> <%= @catalogo.titulo %> </td></tr>
      <tr><th> Grupo </th> <td> <%= @catalogo.grupo %> </td></tr>
      <tr><th> Género </th> <td> <%= @catalogo.genero %> </td></tr>
      <tr><th> Stock CDs </th> <td> <%= @catalogo.cd.cantidad %> </td></tr>
      <tr><th> Stock Vinilos </th><td> <%= @catalogo.vinilo.cantidad %> </td></tr>
      <tr><th> Precio CD (€)</th><td> <%= @catalogo.cd.precio %> </td></tr>
      <tr><th> Precio Vinilo (€) </th><td> <%= @catalogo.vinilo.precio %> </td></tr>
    </table>
  </div>

  <div class="album-bar">
    <ul class="buttons">

      <% if @catalogo.cd.cantidad > 0 %>
        <li><%= link_to 'Vender CD',
          new_venta_path(:catalogo_id => @catalogo.id, :formato => "cd") %></li>
      <%end%>

      <% if @catalogo.vinilo.cantidad > 0 %>
        <li><%= link_to 'Vender vinilo', new_venta_path(:catalogo_id => @catalogo.id, :formato => "vinilo") %></li>
      <%end%>

      <li><%= link_to 'Modificar', edit_catalogo_path(@catalogo) %></li>

      <li><%= link_to 'Hacer pedido', new_pedido_path(:catalogo_id => @catalogo.id) %></li>

    </ul>
  </div>

</div>
