<%= form_for @venta, url: venta_path do |venta| %>
  <%= render partial: '/shared/errors', object: @venta %>

  <%= render partial: 'fecha_venta', object: venta %>

  <p>
    <%= venta.label :observaciones %><br>
    <%= venta.text_area :observaciones%>
  </p>
  <p>
    <%= venta.submit "Guardar" %>
  </p>
<% end %>
