<table class="index-table">

  <% @ventas.each do |v| %>
    <tr>
      <td class=index-photo><%=image_tag v.catalogo.portada(:thumb) %> </td>
      <td><%= v.catalogo.titulo %></td>
      <td><%= v.catalogo.grupo %></td>
      <td><%= v.precio %></td>
      <td><%= v.fechaVenta.to_date %></td>
      <td><%= v.formato.upcase %></td>

      <td><ul class="index-buttons">

        <li> <%= link_to 'Consultar', venta_path(v) %></li>
        <li> <%= link_to 'Album asociado', catalogo_path(v.catalogo) %></li>
        <li><%= link_to 'Eliminar',  venta_path(v),
                      method: :delete,
                      data: { confirm: '¿Seguro que quieres eliminar la información de esta venta?' } %></li>
      </ul></td>
    </tr>
  <% end %>
</table>
