<h1>Listado de ventas</h1>

<table>
  <tr>
    <th>Título</th>
    <th>Grupo</th>
    <th>Precio</th>
    <th>Fecha Venta</th>
    <th>Formato</th>
  </tr>

  <% @ventas.each do |venta| %>
    <tr>
      <td><%= venta.catalogo.titulo %></td>
      <td><%= venta.catalogo.grupo %></td>
      <td><%= venta.precio %></td>
      <td><%= venta.fechaVenta.to_date %></td>
      <td><%= venta.formato.upcase %></td>
      <td><%= link_to 'Consultar', venta_path(venta) %></td>
      <td><%= link_to 'Album asociado', catalogo_path(venta.catalogo) %></td>
      <td><%= link_to 'Eliminar',  venta_path(venta),
                    method: :delete,
                    data: { confirm: '¿Seguro que quieres eliminar la información de esta venta?' } %></td>
    </tr>
  <% end %>
</table>
