<%= form_for @venta, url: ventas_path  do |venta| %>
  <%= render partial: '/shared/errors', object: @venta %>

  <%= render partial: 'fecha_venta', object: venta %>

  <p>
    <%= venta.label :observaciones %><br>
    <%= venta.text_area :observaciones%>
  </p>

  <%= hidden_field_tag :catalogo_id, params[:catalogo_id] %>
  <%= venta.hidden_field :formato, value: params[:formato] %>
  <p>
    <%= venta.submit "Guardar" %>
  </p>
<% end %>
