<%= form_for @venta, url: ventas_path  do |form| %>
  <%= render partial: '/shared/errors', object: @venta %>

  <p>
    <%= form.label :fechaVenta %><br>
    <%= form.date_select :fechaVenta %>
  </p>

  <p>
    <%= form.label :observaciones %><br>
    <%= form.text_area :observaciones%>
  </p>

  <%= hidden_field_tag :catalogo_id, params[:catalogo_id] %>
  <%= form.hidden_field :formato, value: params[:formato] %>
  <p>
    <%= form.submit "Guardar" %>
  </p>
<% end %>
