<%= form_for @venta, url: ventas_path do |venta| %>
  <%= render partial: '/shared/errors', object: @venta %>

  <p>
    <%= venta.label :precio %><br>
    <%= venta.number_field :precio, step: 0.01, min:0 %>
  </p>

  <p>
    <%= venta.label :fechaVenta %><br>
    <%= venta.date_select :fechaVenta %>
  </p>

  <p>
    <%= venta.label :formato %><br>
    <%= venta.select :formato, Venta.formatos.keys  %>
  </p>

  <p>
    <%= venta.label :observaciones %><br>
    <%= venta.text_area :observaciones%>
  </p>

  <%= hidden_field_tag :catalogo_id, params[:catalogo_id] %>

  <p>
    <%= venta.submit "Guardar" %>
  </p>
<% end %>
