
<p>
  Título:
  <%= @catalogo.titulo %>
</p>

<p>
  Grupo:
  <%= @catalogo.grupo %>
</p>

<p>
  Genero:
  <%= @catalogo.genero %>
</p>

<p>
  Precio:
  <%= @venta.precio %>
</p>

<p>
  Fecha de venta:
  <%= @venta.fechaVenta %>
</p>

<p>
  Formato:
  <%= @venta.formato %>
</p>
