<div class="album">

  <div class="album-photo">
      <%= image_tag @catalogo.portada(:medium) %>
  </div>

  <div class="bottom-album">
    <table class="album-info">
      <tr><th> Título </th> <td> <%= @catalogo.titulo %> </td></tr>
      <tr><th> Grupo </th> <td> <%= @catalogo.grupo %> </td></tr>
      <tr><th> Fecha venta </th> <td> <%= @venta.fechaVenta.to_date %> </td></tr>
      <tr><th> Precio </th> <td> <%= @venta.precio %> </td></tr>
      <tr><th> Formato </th><td> <%=  @venta.formato.upcase  %> </td></tr>
      <tr><th> Observaciones</th><td> <%= @venta.observaciones%> </td></tr>
    </table>
  </div>

  <div class="album-bar">
    <ul class="buttons">

      <li><%= link_to 'Modificar', edit_venta_path(@venta) %></li>

    </ul>
  </div>
</div>
