<!DOCTYPE html>
<html>
  <head>
    <title>Musictory</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <ul class="navbar">
      <li> <%= link_to 'Stock', catalogos_path %> </li>
      <li> <%= link_to 'Ventas', ventas_path %> </li>
    </ul>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
