<%= content_for :navbar do %>
  <nav>

    <ul class="navbar">
      <li class="active"> <%= link_to 'Stock', catalogos_path %> </li>
      <li> <%= link_to 'Ventas', ventas_path %> </li>
      <li> <%= link_to 'Pedidos', pedidos_path %> </li>
    </ul>

    <ul class="new-button">
      <%= link_to 'Nuevo álbum', new_catalogo_path %>
    </ul>

  </nav>
<% end %>


<%= render template: "layouts/application" %>
