<%= content_for :navbar do %>
  <nav>

    <ul class="navbar">
      <li> <%= link_to 'Stock', catalogos_path %> </li>
      <li> <%= link_to 'Ventas', ventas_path %> </li>
      <li class="active"> <%= link_to 'Pedidos', pedidos_path %> </li>
    </ul>

    <ul class="subbar-button">
      <%= link_to 'Pedidos recibidos', received_pedidos_path %>
      <%= link_to 'Pedidos no recibidos', non_received_pedidos_path %>
      <%= link_to 'Pedidos cancelados', cancelled_pedidos_path %>
      <%= link_to 'Nuevo pedido', new_pedido_path %>
    </ul>


  </nav>
<% end %>

<%= render template: "layouts/application" %>
