<%= content_for :navbar do %>
  <nav>
    <ul class="navbar">
      <li> <%= link_to 'Stock', catalogos_path %> </li>
      <li class="active"> <%= link_to 'Ventas', ventas_path %> </li>
      <li> <%= link_to 'Pedidos', pedidos_path %> </li>
    </ul>
  </nav>
<% end %>

<%= render template: "layouts/application" %>
