<table class="index-table">
  <th> </th>
  <th> Título </th>
  <th> Grupo </th>
  <th> Formato </th>
  <th> Realizacion </th>
  <th> Cantidad </th>
  <th> Entrada </th>
  <th> Cancelación </th>

  <% @pedidos.each do |p| %>
      <% if p.fecha_cancelacion %>
        <tr class="pedido-cancelado">
      <% else %>
        <tr>
      <% end %>
          <td class=index-photo><%= image_tag p.portada%> </td>
          <td><%= p.titulo %></td>
          <td><%= p.grupo %></td>
          <td><%= p.formato.upcase %></td>
          <td><%= p.fecha_realizacion.to_date %></td>
          <td><%= p.cantidad %></td>
          <td><%= p.fecha_entrada ? p.fecha_entrada.to_date : "" %></td>
          <td><%= p.fecha_cancelacion ? p.fecha_cancelacion.to_date : "" %></td>
          <td><ul class="index-buttons">
            <% if not p.fecha_cancelacion and not p.fecha_entrada %>
              <li> <%= link_to 'Pedido recibido', receive_order_pedido_path(p) %></li>
              <li> <%= link_to 'Cancelar pedido', cancel_order_pedido_path(p) %></li>
            <% else %>
              <li><a id="disabled-button">Pedido recibido</a></li>
              <li><a id="disabled-button">Cancelar pedido</a></li>
            <% end %>
          </ul></td>
        </tr>
  <% end %>
</table>
