<%= render 'search' %>

<% if @pedidos.present? %>
  <table class="index-table">
    <th> </th>
    <th> Título </th>
    <th> Grupo </th>
    <th> Formato </th>
    <th> Fecha Realizacion </th>
    <th> Cantidad </th>
    <th> Adeudo </th>
    <th> Fecha Entrada </th>
    <th> Fecha Cancelación </th>
    <th> Fecha Finalización </th>
    <th> Fecha Defecto </th>

    <% @pedidos.each do |p| %>
      <tr>
        <td class=index-photo><%=image_tag p.catalogo.portada(:thumb) %> </td>
        <td><%= p.catalogo.titulo %></td>
        <td><%= p.catalogo.grupo %></td>
        <td><%= p.formato.upcase %></td>
        <td><%= p.fechaRealizacion.to_date %></td>
        <td><%= p.cantidad %></td>
        <td><%= p.adeudo %></td>
        <td><%= p.formato.upcase %></td>
        <td><%= p.fechaEntrada.to_date %></td>
        <td><%= p.fechaCancelacion.to_date %></td>
        <td><%= p.fechaFinalizacion.to_date %></td>
        <td><%= p.fechaDefecto.to_date %></td>

      </tr>
    <% end %>
  </table>
<%end%>
