<%= render 'search' %>

<% if @pedidos.present? %>
  <table class="index-table">
    <th> </th>
    <th> Título </th>
    <th> Grupo </th>
    <th> Formato </th>
    <th> Realizacion </th>
    <th> Cantidad </th>
    <th> Entrada </th>
    <th> Cancelación </th>
    <th> Finalización </th>
    <th> Defecto </th>

    <% @pedidos.each do |p| %>
      <tr>
        <td class=index-photo><%=image_tag p.catalogo.portada(:thumb) %> </td>
        <td><%= p.catalogo.titulo %></td>
        <td><%= p.catalogo.grupo %></td>
        <td><%= p.formato.upcase %></td>
        <td><%= p.fechaRealizacion.to_date %></td>
        <td><%= p.cantidad %></td>
        <td><%= p.fechaEntrada ? p.fechaEntrada.to_date : "" %></td>
        <td><%= p.fechaCancelacion ? p.fechaCancelacion.to_date : "" %></td>
        <td><%= p.fechaFinalizacion ? p.fechaFinalizacion.to_date : "" %></td>
        <td><%= p.fechaDefecto ? p.fechaDefecto.to_date : "" %></td>

      </tr>
    <% end %>
  </table>
<%end%>
