<%= form_for @pedido, url: pedidos_path  do |pedido| %>
  <%= render partial: '/shared/errors', object: @pedido %>

  <p>
    <%= pedido.label :titulo, "Título"%><br>
    <%= pedido.text_field :titulo, value: params[:titulo] %>
  </p>

  <p>
    <%= pedido.label :grupo, "Grupo" %><br>
    <%= pedido.text_field :grupo, value: params[:grupo] %>
  </p>

  <p>
    <%= pedido.label :cantidad %><br>
    <%= pedido.number_field :cantidad, min: 0 %>
  </p>


  <p>
    <%= pedido.label :formato %><br>
    <%= pedido.select :formato, Pedido.formatos.keys.map {|f| [f.upcase, f]} %>
  </p>

  <p>
    <%= pedido.submit "Guardar" %>
  </p>
<% end %>
